# Compiled artifacts.
/_build/

# Test coverage assets (generated via "mix test --cover").
/cover/

# Dependencies sources.
/deps/

# 3rd-party dependency generated docs.
/doc/

# In case you like to edit your project dependencies locally.
/.fetch

# VM crash dump.
erl_crash.dump

# Archive artifacts (built via "mix archive.build").
*.ez

# Package tarball (built via "mix hex.build").
live_cue-*.tar

# NPM crash log.
npm-debug.log

# NPM dependencies.
/assets/node_modules/

# Since we are building assets from assets/, we ignore priv/static.
# You may want to comment this depending on your deployment strategy.
/priv/static/

# Sensitive/instance-specific config.
**/*.secret.exs
